@import "tailwindcss";

html, body, #__next {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #121212;
  color: white;
  font-family: sans-serif;
  -webkit-tap-highlight-color: transparent;
}


.crossword-input:focus {
  outline: none;
}